{% extends "core/base.html" %}
{% block content %}

{% if city_list %}
<div class="col-md-5 text-center"
style=
    "display: inline-block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    height: 100px;
    margin: auto;">
    <h3>Which city do you want to add?</h3><hr>
    {% for city in city_list %}
    <ul><a href="{{city.cityId}}">{{city.name}}, {{city.region}} [{{city.country}}] </a></ul>
    {%endfor %}
    <ul><a href="">None of the above</a></ul>
{% else %}
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">
    <form method="POST" style="size: 500px;">
        {% csrf_token %}
        <strong>{{ error }}</strong> 
<br><br>
        <p><h4>What do you want to find</h4></p>
        {{ form.cityName }}
        <br><button class="btn btn-success" style="width: 197px;">Search city to add</button>
    </form> 
    <a class="btn btn-primary" href="{% url 'current' %}" style="width: 197px;">Go to your cities</a>
</div>
</div>
{% endif %}

</class=>
{% endblock %}