{% extends "core/base.html" %}
{% block content %}
<br>
    
<div class="card-columns">
    {% for weather in weather_data %}
    <ul>
        <div class="row align-items-start">
            <div class="col-6">
                <div class="card" style="width: 35rem; border-radius: 25px;">                    
                    <div class="card-body">
                        <class="card-title" style="align-items: center;">
                        <div class = "col-8" 
                        style="background-color: rgb(231, 235, 250);padding-bottom: 2px;padding-left: 5px;">
                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="some info">        
                            {{ weather.name }}, {{ weather.country }}
                        &emsp;<img 
                        src="https://flagcdn.com/w20/{{ weather.code }}.png"
                        srcset="https://flagcdn.com/w40/{{ weather.code }}.png 2x"
                        width="20"></h5>
                        &emsp; {{ weather.hour }}
                            </span></div>

                        <!-- Modal -->
                        <div class="modal fade" id="detail" style="position: relative;">
                            <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title">Native language name</h5>
                                <button type="button" class="btn-close"data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                I am the best
                                </div>
                            </div>
                            </div>
                        </div>
                        <hr>
                        <class="card-text">
                        <img src="../../static/core/{{ weather.conditionSymbol}}.png" height="30px"> {{weather.condition}}
                        &emsp;<img src="../../static/core/term.png" height="30px"> {{weather.temp}} 
                        &emsp;Feels like: {{weather.feel}}
                        &emsp;<img src="../../static/core/prec.png" height="25px"> {{weather.precipitation}}mm</p>
                        <p class="card-text"><img src="../../static/core/wind.png" height="30px"> {{weather.wind}}</p>

                        <div class="card-footer bg-transparent border-dark">
                            &emsp;<a href="{% url 'weekly' %}"  class="btn btn-primary col-5" 
                            style= "border-radius:25px;" >weekly view</a>
                            &emsp;<a href="delete/{{weather.id}}"  class="btn btn-danger col-5" 
                            style= "border-radius:25px;">remove city</a>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="col-3" 
            style="
                border-color: rgba(224, 228, 228, 0.801);
                border-style: solid;
                border-radius: 100px;
                border-width: 1px;
                padding-top: 10px;
                padding-right: 12px;
                padding-bottom: 10px;
                padding-left: 10px;
                background-color: #fff"
                >
                <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
                    <div class="carousel-inner">
                        {% for daily in weather.daily %}
                            {% if forloop.first %} 
                        <div class="carousel-item active">
                            {% else %}
                        <div class="carousel-item">
                            {% endif %}
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{daily.data}}
                            <br>
                            &emsp;&emsp;&emsp;
                            <a href="{% url 'weekly' %}">
                                <img src="../../static/core/{{daily.daySymbol}}.png" height="180px" width="180px">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </ul>
    {% endfor %}
</div>

{% endblock %}