{% extends "core/base.html" %}
{% block content %}
<br>
    
<div class="card-columns">
    {% for weather in weather_data %}
    <div class="card" style="width: 30rem;">
        
        <div class="card-body">
            <class="card-title" style="align-items: center">{{ weather.city }}, Italy&emsp;<img
            src="https://flagcdn.com/w20/it.png"
            srcset="https://flagcdn.com/w40/it.png 2x"
            width="20"></h5>
            <hr>
            <class="card-text">
            {{weather.weather}}&emsp;
            <img src="../../static/core/term.png" height="30px">{{weather.temp}} 
            &emsp;Feels like: {{weather.tempFeel}}
            &emsp;<img src="../../static/core/prec.png" height="25px"> {{weather.precipitation}}mm</p>
            <p class="card-text"><img src="../../static/core/wind.png" height="30px"> {{weather.wind}}</p>

            <div class="card-footer bg-transparent border-dark">
                &emsp;<a href="{{weather.link}}"  target= "_blank" class="btn btn-primary">weekly view</a>
                &emsp;<a href="{{weather.link}}"  target= "_blank" class="btn btn-info">more details</a>
                &emsp;<button class="btn btn-danger" type="submit">Remove city</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}