{% extends "core/base.html" %}
{% block content %}
<br>
    
<div class="card-columns">
    {% for weather in weather_data %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../static/core/Titlelogo.png">
        <div class="card-body">
            <h5 class="card-title">{{ weather.city }}</h5>
            <hr>
            <p class="card-text"> {{weather.weather}}</p>
            <p class="card-text">Temperature: {{weather.temp}}</p>
            <p class="card-text">Feels like: {{weather.tempFeel}}</p>
            <p class="card-text">Precipitation: {{weather.precipitation}}mm</p>
            <p class="card-text">{{weather.wind}}</p>
            <div class="card-footer bg-transparent border-dark">
                <p class="card-title">{{book.author}}</p>
                <a href="{{weather.link}}"  target= "_blank" class="btn btn-info">more details</a>
                    <button  class="btn btn-danger" type="submit">Remove</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}